// // Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
@import 'variables';

.editor {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.balance {
    margin-top: 50px; 
    margin-bottom: 50px; 
}
.balance2 {
    margin-bottom: 50px;
}
select {
    width: 100%;
}
.myicon {
    font-size: 22px;
    color: rgb(80, 77, 77);
}
.iconfb {
    color: rgb(0, 153, 255);
}
.icongg {
    color: rgb(238, 56, 32);
}
.add-word {
    margin-left: 23px;
}
.rowspan-dt {
    display: none;
}
.countdown {
    position: fixed;
    font-size: 20px;
    border: 1px solid #888888;
    padding: 8px;
    border-radius: 5px;
}
